@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button{
    height: 4.5rem;
    width: 15rem;
    padding: 0 3.2rem;
    background-color: $MuseAccent1;
    color: $MuseWhite;
    font-size: 2rem;
    line-height: 2rem;
    border: 2px solid transparent;
    border-radius: 25px;

    @include middle-design {
        font-size: 1.8rem;
        height: 4.5rem;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba($MuseAccent1, 0.23);
        border-color: $MuseAccent1;
        color: $MuseAccent1;
    }

    &:active {
        background-color: $MuseAccentDark1;
        color: $MuseWhite;
    }
}

.view-all{
    margin: 0 1rem;
    width: 18rem;

    @include middle-design {
        width: 15rem;
        margin: 0 .5rem
    }
}

.submit {
    @extend .view-all;
    background-color: $MuseAccent2;

    &:hover {
        background-color: rgba($MuseAccent2, 0.23);
        border-color: $MuseAccent2;
        color: $MuseAccent2;
    }

    &:active {
        background-color: $MuseAccentDark2;
        color: $MuseWhite;
    }
}

