@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.textLayer,
.annotationLayer,
.react-pdf__Page__canvas {
    display: none;
}

.musicpage {
    position: relative;
    height: fit-content;

    .navbar {
        height: 8rem;
        width: 100%;
        padding: 0 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 10;

        @include tablet-design {
            display: none;
        }
        
        &__title {
            color: $MuseAccent1;
            font-size: 3rem;
        }
    
        &__section {
            display: flex;
            justify-content: space-between;
            width: 40rem;
    
            .navbar__list {
                width: 25rem;
                color: $MuseAccent2;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
    
                .navbar__item {
                    font-size: 2rem;
                    letter-spacing: .5px;
    
                    &:hover {
                        font-weight: bold;
                        border-bottom: 2px solid $MuseAccent2;
                    }
                }
            }
        }
    
    }

    .navMenu{
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 10;
        background-color: $MuseWhite;
        border: 2px solid $MuseAccent2;
        border-radius: 1rem;
        display: none;
        align-items: center;

        @include tablet-design{
            display: flex;
        }

        &__icon-wrapper{
            border-radius: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            padding: .5rem;

            &:active{
                background-color: rgba($MuseAccent2, .25);
            }
        }

        &__icon{
            height: 3rem;
            
        }

        &__list {
            width: 30rem;
            color: $MuseAccent2;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .navMenu__item {
                font-size: 2rem;
                letter-spacing: .5px;

                &:active{
                    background-color: rgba($MuseAccent2, .25);
                }
            }
        }

        .hidden {
            display: none;
        }

        .visible {
            display: flex;
        }
    }

    .pdf__page {
        display: flex;
        justify-content: center;
    }

    .document-nav{
        position: absolute;
        display: flex;
        z-index: 5;
        height: 100%;
        width: 100%;
        top: 0;

        &--left {
            height: 100%;
            width: 50%;
        }

        &--right {
            height: 100%;
            width: 50%;
        }
    }
}