@use "../../styles/partials/variables" as *;

.favorite-songs{
    &__link {
        width: 100%;
        height: fit-content;
        margin: 1rem;

        &:hover {
            position: relative;
            top: -8px;
        }
    }

    &__card {
        width: 100%;
        height: 14rem;
        background-color: $MuseAccent1;
        display: flex;
        color: $MuseBlack;
        border-radius: 12px;
        padding: 1rem;

        &:hover {
            position: relative;
            top: -8px;
            background-color: $MuseDarkAccent;
            color: $MuseWhite;
        }

        .favorite-songs__img {
            width: 18rem;
            height: 12rem;
            margin-right: 3.2rem;
            border-radius: 10px;
        }

        .favorite-songs__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &--title {
                font-size: 3rem;
                letter-spacing: 1px;
            }
        }
    }
}